<template name="sideWrap">
    <!-- aside menu -->
    <div class="sidebar">
        <div class="user-avatar">
            <img src="images/avatars0.jpg" alt="">
        </div>

        <div class="user-info">
            <div class="basic-info">
                <h2>{{email}}</h2>
                <a href="">@mayo</a>
                <p>做人当作大渣渣呀呀作大渣渣呀呀丫丫丫！！</p>
            </div>

            <div class="score-info">
                <p>积分<b>6666</b></p>
                <p>大好き屋<b>0</b>住人</p>
            </div>

            <button id="new-post">发新话题</button>
        </div>
    </div>
</template>